*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    nav{
    display: flex;
    height:50px;
    border-collapse:collapse;
    background-color:gray;
    margin: 3px;
    padding: 5px;
    
}

.navh2{
    padding-left: 200px;
}
a{
    text-align: center;
}
.nav2{
        display: flex;
        height:50px;
        border-collapse:collapse;
        border-radius: 5px;
        background-color:gray;
        margin: 3px;
        padding: 5px;
        
}

.button1{
    width: 150px;
    border-radius: 50px;
    margin: 0 auto;
    background-color: red;
    
}

.front{
    display: flex;
    justify-content: center;
    padding-left: 160px;
}

.section1{
    display: flex;
    flex-direction: column;
    border-collapse:collapse;
    background-color:lightgray;
    margin: 3px;
    padding: 5px;
    text-align: center;
}

.section2{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 200px;
        margin: 0px;
        border-radius: 15px;
        padding: 15px;
        gap: 10px;
    }

    h2{
        text-decoration:solid;
    }

    .house{
     padding-left: 150px;
    }
    .container {
        position: relative;
        text-align: center;
        color: black;
    }
    .center {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    body{
        background-color: whitesmoke;
    }
    .ctr{
        display: flex;
        justify-content: center;
    }

    .section3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px;
        border-radius: 15px;
        padding: 15px;
        background-color:lightgray;
        gap: 5px;
       
    }

    .button2{
        width: 200px;
        border-radius: 5px;
        margin: 0 auto;
        background-color: red;
    }

    .headers{
        color: red;
        text-shadow: 1px 1px 2px pink;
    }

    .box{
        display: flex;
        flex-direction: column;
        
        width: 270px;
        height: 300px;
        margin:10px;
        border-radius: 15px;
        text-align: center;
        justify-content: center;
        color: white;
    }

    .box-img{
        background-color: greenyellow;
        height: 300px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px;
    }

    .section4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px;
        border-radius: 15px;
        padding: 15px;
        background-color:lightgray;
        gap: 10px;
       
    }

    .section5{
        background-color: lightgray;
        margin: 0px;
        border-radius: 15px;
        padding: 15px;
        text-align: center;
    }

    footer{
        background-color:lightslategray;
    
    }

    .footer-cont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color:white;
        margin: 0px;
        align-items: center;
        border-radius: 15px;
        padding: 15px;
        gap: 20px;
    }

    a{
        text-decoration: none;
        color: white;
    }

    *,
    *::before,
    *::after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .popup{
        background-color: lightgray;
        width: 450px;
        padding: 30px 40px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        display: none;
       
    }

    .popup P{
        font-size: 14px;
        text-align: justify;
        margin: 20px 0;
    }

    .popup button{
        display: block;
        margin: 0 0 20px auto;
        background-color: transparent;
        font-size: 30px;
        color: #c5c5c5;
        border: none;
        outline: none;
        cursor: pointer;
    }